/** end general styles **/
html body .app-content.content
{
    overflow: inherit;
}
.close-icon
{
    margin-top:-10px;
    padding-bottom:10px;
}
.dark-color {
    color: #262B56;
}
.w-100
{
    width:100%;
}
.h-100
{
    height:100%;
}
.circle-icon{
    border-radius: 50%;
    width: 27px;
    height: 27px;
    font-size: 14pt;
    text-align: center;
    vertical-align: middle;
    line-height: 27px;
    margin: 0px 2px;
}
.circle-icon.color-white{
    display: inline-block;
    background: #fff;
    border:1px solid #bdbdbd;
    color:#bdbdbd;
}
.circle-icon.color-white:hover
{
    background: #f7f7f9;
}
.white-container
{
    background: #fff;
    border-radius: 3px;
    padding:10px;
    box-shadow: 0px 8px 20px 5px #00000017;
    clear: both;
    margin-bottom: 30px;
}
.gray-box
{
    border:1px solid #DFDFDF;
    border-radius:5px;
    background-color: #F8F8F8;
    padding:10px 5px;
}
.circle-img
{
    width:60px;
    height:60px;
    border-radius: 50%;
}
/*** buttons **/
.btn
{
    min-width:80px;
}
.btn.btn-cancel
{
    background-color: #F8F8FA;
    border-color: #4A90E2;
    color:#4A90E2;
}
.btn.btn-cancel:hover
{
    background-color: #4A90E2;
    color:#fff;
}
.btn.btn-dark-blue
{
    color:#fff;
    outline: 0;
    background-color: #353C77;
}
.btn.btn-dark-blue:hover
{
    color:#353C77;
    border-color:#353C77;
    background-color: #fff;
}
.btn.btn-light-gray
{
    color:#262B56;
    outline: 0;
    background-color: #F8F8F8;
    border-color:#262B56;
}
.btn.btn-light-gray:hover
{
    color:#fff;
    background-color: #262B56;
}
/*** end buttons **/
/*** tables **/
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th 
{
    border-color: #E7E7E7;
    white-space: normal;
}
.table.table-striped > thead > tr {
    color: #000;
    background-color: #fff;
}
.table.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #FDFDFD;
}
.table.table-striped > tbody > tr td{
    color: #4A4A4A;
}
.table.table-striped > tbody tr td{
    padding: 15px 5px;
}
/*** end tables **/
/*** pagination **/
.pagination.custom-pagination li.change-page a 
{
    width: 30px;
    height: 30px;
    border-radius: 50%!important;
    text-align: center;
    padding: 0;
    line-height: 28px;
    font-size: 20px;
    background-color: #F4F4F4;
    margin: 0 5px;
}
.pagination.custom-pagination li.change-page a:hover 
{
    color:#fff;
    background-color: #626ED4;
}
.pagination.custom-pagination > li > a,
.pagination.custom-pagination > li > span {
    width: 30px;
    height: 30px;
    border-radius: 50%!important;
    text-align: center;
    padding: 0;
    line-height: 28px;
    margin: 0 2px;
}
/*** end pagination **/
/** end general styles **/
/** main tabs **/
.custom-nav-tabs.nav-tabs{
    border:0;
}
/** main tabs **/
.custom-nav-tabs.nav-tabs>li {
    min-width: 100px;
    text-align: center;
}
.custom-nav-tabs.nav-tabs>li>a {
    border: 2px solid #F2F2F6;
    border-left-width: 0px;
    border-radius: 0;
    color:#A4A4A4;
    background-color: #FEFEFE;
    padding: 15px 5px;
}
.custom-nav-tabs.nav-tabs>li>a:hover {
    background-color: #fbfbff;
}
.custom-nav-tabs.nav-tabs>li:first-child>a
{
    border-radius: 0px 5px 5px 0px;
    overflow: hidden;
}
.custom-nav-tabs.nav-tabs>li:last-child>a
{
    border-left-width: 2px;
    border-radius: 5px 0 0 5px;
    overflow: hidden;
}
.custom-nav-tabs.nav-tabs>li>a>i
{
    font-size: 24px;
}
.custom-nav-tabs.nav-tabs>li.active>a,
.custom-nav-tabs.nav-tabs>li.active>a:focus,
.custom-nav-tabs.nav-tabs>li.active>a:hover 
{
    color: #3290E9;
    background-color: #f7f7f9;
    border: 1px solid #f1f2f5;
    position:relative;
    border-top: 3px solid #f1f2f5;
}
.custom-nav-tabs.nav-tabs>li.active>a::before
{
    content:'';
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    height:5px;
    width:100%;
    background-color: #3290E9;
}
/** end main tabs **/
/** sub tabs **/
.custom-sub-nav-tabs.nav-tabs {
    border: 0;
}
.custom-sub-nav-tabs.nav-tabs>li>a:hover {
    background-color: #f7f7f9;
    border-bottom: 5px solid #ddd;
}
.custom-sub-nav-tabs.nav-tabs>li>a {
    border: 0;
    border-left-width: 0px;
    border-radius: 0;
    color:#676B88;
    background-color: unset;
    padding: 5px 15px;
}
.custom-sub-nav-tabs.nav-tabs>li.active>a,
.custom-sub-nav-tabs.nav-tabs>li.active>a:focus,
.custom-sub-nav-tabs.nav-tabs>li.active>a:hover 
{
    color: #262B56;
    border: 0px; 
    border-bottom: 5px solid #3290E9;
    position:relative;
}
/** end sub tabs **/
/** attach file icons **/
.attach-file-icon-list
{
    list-style: none;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    overflow: hidden;
    display: inline-block;
    margin-bottom: 5px;
    margin-left: 5px;
}
.attach-file-icon-list li {
    list-style: none;
    display: inline-block;
    float: right;
}
.attach-file-icon-list li button {
    padding: 15px;
    border: 0;
    border-left: 1px solid #D9D9D9;
    background-color: #fff;
}
.attach-file-icon-list li.active button {
    background-color: #dedede;
}
.attach-file-icon-list li button:hover {
    background-color: #f7f7f9;
}
.attach-file-icon-list li:last-child button
{
    border-left: 0px;
}
.attach-file-icon-list li button i {
    font-size: 24px;
    color:#000;
}
/** end attach file icons **/
/** no data section **/

.no-data-section{
    text-align: center;
    align-content: center;
    margin-bottom: 38px;
}
.no-data-section i{
    font-size: 70px;
    padding-top: 28px;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    color: #C3C3C3;
    border: 4px solid #C3C3C3;
}
.no-data-section label{
    width: 100%;
    padding: 0 10%;
    font-size: 36px;
    color: #C3C3C3;
}
/** end no data section **/